.close {
  position: absolute;
  right: 30px;
  top: 20px;
  cursor: pointer;
}

.container {
  width: 400px;
  margin: 50px auto;

  .gender {
    margin-left: 10px;
    cursor: pointer;
  }

  mat-icon {
    vertical-align: middle;
    margin-left: 10px;
  }

  .profie-img {
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
}
